@charset "UTF-8";

/*--------------------비교함---------------------*/

/* 비교함 영역 DIV */
#compareDiv
{
	max-width: 5vw;
	height: 90%;
    padding-top: 85px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 94.4vw;
    /* padding-left: 1vw;
    padding-right: 1vw; */
    background-color: #f7f4ea;
    position: fixed;
}

/* '비교함' 이름 영역 */
.comNameDiv
{
	width: 7vw;
	height: 50px;
	text-align: center;
	color: #ef6351;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	/* border: 1px solid #3a001e;
	border-radius: 8px; */
}

/* '비교함' 이름 영역의 span 밑줄 */
.comNameDiv span
{
	color: #3a001e;
	border-bottom: 3px solid #3a001e;
}

/* 비교함의 가게리스트 영역 DIV */
.comStoreListDiv
{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; 
}

/* 비교함의 가게영역 DIV */
.comStoreDiv
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 15vh;
}

/* 비교함의 가게영역의 가게 이미지 */
.comStoreImgDiv img
{
	display: flex;
    flex-direction: column;
    max-width: 4.5vw;
    max-height: 4.5vw;
    width: 4.5vw;
    height: 4.5vw;
    object-fit: cover;
}

/* 비교함의 가게영역 이미지의 label */
.stLabel
{
	max-height:5vw;
}

/* 비교함 가게영역의 가게 이미지 CB(CheckBox) */

.comStImgCB
{
	display: inline;
    position: relative;
    top: 1.6vw;
    left: 3.1vw;
    height: 1vw;
    width: 1vw;
    accent-color: #ef6351;
}

.comStImg
{
	max-width: 5vw;
	max-height: 5vw;
	position: static;
	cursor: pointer;
}

/* 체크박스 동그랗게 만들다가 만 코드 */
/*
.comStImgCB
{
	display: inline;
	position: relative;
	top: 1.6vw;
	left: 3.5vw;
	height: 1rem;
	width: 1rem;
	accent-color: #ef6351;
	cursor: pointer;
	appearance: none;
	border-radius: 50px;
	border: 1px solid #999;
} 

.circle
{
	display: inline-block;
	width: 20px; height: 20px;
	border: 2px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	position: relative; top: 4px;
	cursor: pointer;
}

.comStImgCB:checked + .circle:after{ opacity: 1; }
.comStImgCB{position: absolute; left: -999em;}

.circle:after
{
	content: '\221A';
	content: '\22C1';
	font-size: 24px; color: #333;
	position: absolute; top: -14px; left: 0px;
	
	opacity: 0;
	transition: 0.2s;
} */

/* 비교함의 가게 이름 */
.comStoreNameDiv
{
	font-size: 8pt;
	padding-top: 0.5vw;
}

/* '비교하기' 버튼 */
#comBtn
{
	background-color: #EF6351;
	border: 1px #EF6351;
	border-radius: 8px;
	color: white;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
	cursor: pointer;
}