@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');

body {
	font-family: 'IBM Plex Sans KR', sans-serif;
    margin:0px;
    padding: 0px;        
}

.mainBody {
	display: flex;
}

.compTitle {
	width: 15vw;
	height: 15vh;
	margin-left: 30vw;
}

.compTitle span {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.compareMain {
	width: 100vw;
	margin-left: 3vw;
}

.compareBody {
	width: 63vw;
	/* margin-left: 18vw; */
	display: flex;
	text-align: center;
}

.compareSpace {
	width: 16.5vw;
}

.cCategory {
	margin-top: 28.65vh;
	width: 11vw;
}

.cList, .week, .lWeek, .cOptions, .lOptions {
	border-top: 1px solid #EB8F83;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.cName {
	font-size: 1.5rem;
	font-weight: bold;
}

.cBox {
	border-left: 1px solid #EB8F83;
}

.cList, .cLo {
	height: 3vh;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
}

.bottomL
{
	border-bottom: 1px solid #ED8F83;
}

.ocTitle
{
	font-size: 1rem !important;
    font-weight: bold;
    padding-bottom: 1vh !important;
}

.lDay {
    /* height: 3vh; */
    font-size: 0.8rem;
    padding-top: 0.5vh;
    padding-bottom: 1.5vh;
}

.lWeek {
	height: 35vh;
}

.lOptions, .cOptions {
	height: 30vh;
}

.cMenu {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat {
	margin-top: 1vh;
}

.photo{
	margin-bottom: 1vh;
}

.phStore {
	width: 15vw;
	height: 20vh;
	padding-bottom: vh;
	padding: 1px;
}

.week {
	height: 35vh;
	padding-top: 1vh;
}

.cOpt {
	padding-top: 1.5vh;
	height: 2vh;
	font-size: 1rem;
	font-weight: bold;
	padding-bottom: 1.5vh;
}

.phMenu {
	max-width: 3.5vw;
	max-height: 3.5vw;
	object-fit: cover;
}

.menu
{
	display: flex;
    align-items: center;
    justify-content: flex-start;
}