@charset "UTF-8";

/* 가게 대표이미지 크기 조정 */
.stImg
{
	max-width: 10vw;
    max-height: 20vh;
    border-radius: 5px;
    background-size: cover;
    /* background-color: #E09A8D; */
    position: static;
}

/*--------------------비교함---------------------*/

/* 비교함 영역 DIV */
#compareDiv
{
	max-width: 8vw;
	/* height: 90%; */
    padding-top: 5px;
    /* z-index: 10; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 7vw;
    /* padding-left: 1vw;
    padding-right: 1vw; */
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #fff;
    /* position: fixed; */
}

/* '비교함' 이름 영역 */
.comNameDiv
{
	width: 7vw;
	height: 50px;
	text-align: center;
	color: #3a001e;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	/* border: 1px solid #3a001e;
	border-radius: 8px; */
}

/* '비교함' 이름 영역의 span 밑줄 */
.comNameDiv span
{
	color: #3a001e;
	border-bottom: 3px solid #3a001e;
}

/* 비교함의 가게리스트 영역 DIV */
.comStoreListDiv
{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; 
}

/* 비교함의 가게영역 DIV */
.comStoreDiv
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 8vw;
}

/* 비교함의 가게영역의 가게 이미지*/
.comStoreImgDiv img
{
	display: flex;
    flex-direction: column;
    max-width: 4.5vw;
    max-height: 4.5vw;
    width: 4.5vw;
    height: 4.5vw;
    object-fit: cover;
    cursor: pointer;
}

/* 비교함의 가게영역 이미지의 label */
.stLabel
{
	max-height:4.5vw;
}

/* 비교함 가게영역의 가게 이미지 CB(CheckBox) */

.comStImgCB
{
	display: inline;
    position: relative;
    top: 4.8vw;
    /* left: 3.1vw; */
    right: 1.5vw;
    height: 1vw;
    width: 1vw;
    accent-color: #ef6351;
    cursor: pointer;
}

.comStImg
{
	max-width: 5vw;
	max-height: 5vw;
	position: static;
	cursor: pointer;
}

.comStNoImg
{
	max-width: 5vw;
	max-height: 5vw;
	position: static;
}

.comStoreBtn
{
	width: 4.5vw;
	border: 1px solid #f7f4ea;
	background-color: #fff;
	font-size: 0.5vw;
	cursor: pointer;
}

.comDelete
{
	display: inline;
    position: relative;
    top: 1.25vw;
    left: 3.3vw;
    height: 1.1vw;
    width: 1.1vw;
    border: #fff;
    background-color: #f7f4ea;
    font-size: 0.5vw;
    color: #3a001e;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* 비교함 폐업 여부 */
.comIsOutDiv
{
	height: 0;
}

.comIsOut
{
	display: inline;
    position: relative;
    top: -1.7vw;
    left: 1.4vw;
    height: 0.9vw;
    width: 1.1vw;
    border: 0px;
    background-color: #fff;
    font-size: 0.5vw;
    color: #ef6351;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}

/* 비교함의 가게 이름 */
.comStoreNameDiv
{
	/* font-size: 8pt; */
	padding-top: 0.5vw;
}

/* '비교하기' 버튼 */
#comBtn
{
	background-color: #EF6351;
	border: 1px #EF6351;
	border-radius: 8px;
	color: white;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
	cursor: pointer;
}

#comBtn:hover
{
	background-color: #EF6351;
	border: 1px #EF6351;
	border-radius: 8px;
	color: white;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
	cursor: pointer;
	box-shadow: 0 0 10px #ef6351;
}


#comBtn:active
{
	background-color: #e73d34;
	border: 1px #EF6351;
	border-radius: 8px;
	color: white;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
	cursor: pointer;
	box-shadow: 0 0 10px #ef6351;
}
