@charset "UTF-8";

/* 사용할 때 구문 : font-family: 'IBM Plex Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');

/* 전체 스크롤 없앰 */
body
{
	margin: 0px;
	font-family: 'IBM Plex Sans KR', sans-serif;
}
/* -------------------------------------------------------------- */
/* header 영역*/
/*import해서 주석처리*/
/* 메인으로 가는 로고가 필요한 페이지에 이용할 header */
/* 주석처리 .header, .logo, .menu, .cl, #mypage...*/
/*
header
{
	display: flex;
	justify-content: space-between;
	width: 90vw;
	height: 8vh;
	margin-top: 3vh;
	margin-left: 6vw;
	margin-right: 4vw;
}

 .logo
{
	max-width: 5vw;
	max-height: 7vw;
}


header
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 90vw;
	height: 4vh;
	margin-top: 3vh;
	margin-left: 6vw;
	margin-right: 4vw;
	margin-bottom: 4vh;
}

.menu
{
	display: flex;
	justify-content: space-evenly;
	width: 25vw;
}

.cl
{
	font-size: 0.8vw;
}

#mypagetxt
{
	font-size: 1vw;
}

#mypage a, #main a, #logout a, #alarm a, #stMain a
{
	text-decoration: none;
	color: #3a001e;
}

#mypage a
{
	font-weight: bold;
}
*/


/* ---------------------------------------------------------- */
/* main 영역 */


/* 전체 container DIV*/
.container
{
	max-width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin:0px;

}

/* main 영역 DIV */
#mainDiv
{
	max-width: 85vw;
	padding-left: 3vw;
} 

/* mainlogo + 검색창 + 검색버튼 DIV*/
#searchArea
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 88vw;
	height: 350px;
	background-color: #f7f4ea;
}

/* mainlogo img DIV */
#logoImgDiv
{
	max-width: 85vw;
	height: 150px;
	display: flex;
	justify-content: center;
	align-content: center;	
}

/* mainlogo img 최대 크기 지정 */
#logoImg 
{
	max-height: 120px;
	max-width: 200px;
}

/* 검색창 DIV */
#inputDiv 
{
	width: 500px;
	height: 80px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 30px;	
	
}

/* 검색창 */
#typingArea
{
	width: 430px;
	height: 35px;
	float: right;
	border: 1px solid #ef6351;
  	border-radius: 8px;
  	text-align: center;
}

/* 검색 창 placeholder 색 및 크기 변경*/
#typingArea::placeholder
{
	color: #E09A8D;
	font-size: 10pt;
}

/* 검색 창 focus 시 색 변경 */
#typingArea:focus
{
	width: 430px;
	height: 35px;
	float: right;
	outline: none; 
	border-color: #ef6351; 
	box-shadow: 0 0 10px #ef6351;
  	text-align: center;
}


/* 검색 버튼 */
#searchBtn
{
	width: 40px;
	height: 38px;
	float: left;
	align-content: center;
	font-size: 10pt;
	border: 1px solid #ef6351;
  	border-radius: 8px;
  	background-color: #ef6351;
  	color: white;
  	cursor: pointer;
}

/* 검색 버튼 아이콘 이미지 */
#searchIcon
{
	max-width: 20px;
	max-height: 20px;
	object-fit: cover;
}

/* 검색 버튼 hover 시 색 변경 */
#searchBtn:hover
{
	width: 40px;
	height: 38px;
	float: left;
	align-content: center;
	font-size: 10pt;
	outline: none; 
	border-color: #ef6351; 
	box-shadow: 0 0 10px #ef6351;
}

/* 검색 버튼 active 시 색 변경 */
#searchBtn:active
{
	width: 40px;
	height: 38px;
	float: left;
	align-content: center;
	font-size: 10pt;
	outline: none; 
	background-color: #e73d34;
	border-color: #e73d34; 
	color: #ef6351;
	box-shadow: 0 0 10px #ef6351;
}


/* 가게 추천 구역 DIV */
#recommendStDiv
{
	padding-top: 40px;
	max-width: 85vw;
	height: 1300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

/* 입맛 기반 추천 구역 DIV */
#personalIbmatDiv, #personalLike, #famousSt
{
	max-width: 85vw;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* span */
span
{
	color: #ef6351;
	font-weight: bold;
}

/* 추천 이름 구역 DIV */
.recommendName
{
	width: 80vw;
	height: 5vh;
	color: #3a001e;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 13pt;
	font-weight: bold;
	padding : 15px 0;
}

/* 가게 구역 DIV */
.storeList
{
	max-width: 80vw;
	height: 45vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1vw;
	/* 추가: storeList에서 오버플로우 발생 시 스크롤바 생성 */
 	overflow-y: auto;
}

/* 한 가게 구역 DIV */
.store
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 250px;
	height: 270px;
	margin-right: 5px;
	margin-left: 8px;
	/*border: 1px solid #ef6351;*/
	border-radius: 5px;
	background-color: #f7f4ea;
}

/* 한 가게 이미지 + 찜, 비교함 버튼 구역 DIV */
.stImgBtnDiv
{
	width: 230px;
	height: 220px;
	display: flex;
	flex-direction: column;
   	align-items: center;
   	padding-top: 5px;
/* 	background-color: #ef6351; */
}

/* 한 가게 이미지 구역 DIV */
.stImgDiv img
{
	width: 230px;
	height: 230px;
	object-fit: cover;
	cursor: pointer;
}

/* 한 가게 찜, 비교함 추가 버튼 구역 DIV*/
.likeComAddBtn
{
	width: 215px;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 2px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
   	justify-content: space-between;
   	position: relative;
   	bottom: 225px;
   	
}

/* 찜버튼, 비교함추가 버튼 */
.likeAddBtn
{
	width: 30px;
	height: 30px;
	margin-right: 5px;
	padding-left: 2px;
	text-align: center;
	font-size: 18pt;
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
}

.comAddBtn
{
	width: 25px;
	height: 25px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: center;
	font-size: 15pt;
	border-radius: 50px;
	background-color: #f17867;
	border: 1px solid #f17867;
	cursor: pointer;
	color: white;
}


/* 가게 대표이미지 크기 조정 */
.stImg
{
	max-width: 220px;
	max-height: 220px;
	border-radius: 5px;
	background-size: cover;
	/* border: 1px solid #ef6351;
	border-radius: 8px; */
	/* background-color: #E09A8D; */
	position: static;
}

/* 가게명 + 평점(리뷰수) 구역 DIV */
.name_reviewDiv
{
	padding-top: 3px;
	display: flex;
	width: 210px;
	height: 40px;
	margin-left: 3px;
	margin-right: 2px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
}



/*--------------------비교함---------------------*/

/* 비교함 영역 DIV */
#compareDiv
{
	max-width: 7vw;
	padding-top: 85px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; 
	margin-left: 2vw;
	padding-left: 1vw;
	padding-right: 1vw;
	background-color: #f7f4ea;
}

/* '비교함' 이름 영역 */
.comNameDiv
{
	width: 7vw;
	height: 50px;
	text-align: center;
	color: #3a001e;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	/* border: 1px solid #3a001e;
	border-radius: 8px; */
}

/* '비교함' 이름 영역의 span 밑줄 */
.comNameDiv span
{
	border-bottom: 3px solid #ef6351;
}

/* 비교함의 가게리스트 영역 DIV */
.comStoreListDiv
{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; 
}

/* 비교함의 가게영역 DIV */
.comStoreDiv
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 9vw;
}

/* 비교함의 가게영역의 가게 이미지 */
.comStoreImgDiv img
{
	display: flex;
	flex-direction: column;
	max-width: 5vw;
	max-height: 5vw;
	width: 5vw;
	height: 5vw;
	object-fit: cover;
}

/* 비교함의 가게영역 이미지의 label */
.stLabel
{
	max-height:5vw;
}

/* 비교함 가게영역의 가게 이미지 CB */
/* 체크박스 동그랗게 만들다가 만 코드
.comStImgCB
{
	display: inline;
	position: relative;
	top: 1.6vw;
	left: 3.5vw;
	height: 1rem;
	width: 1rem;
	accent-color: #ef6351;
	cursor: pointer;
	appearance: none;
	border-radius: 50px;
	border: 1px solid #999;
} */

.comStImgCB
{
	display: inline;
	position: relative;
	top: 1.6vw;
	left: 3.5vw;
	height: 1vw;
	width: 1vw;
	accent-color: #ef6351;
}


.comStImg
{
	max-width: 5vw;
	max-height: 5vw;
	position: static;
	cursor: pointer;
}


/* .circle
{
	display: inline-block;
	width: 20px; height: 20px;
	border: 2px solid #333;
	box-sizing: border-box;
	border-radius: 10px;
	position: relative; top: 4px;
	cursor: pointer;
}

.comStImgCB:checked + .circle:after{ opacity: 1; }
.comStImgCB{position: absolute; left: -999em;}

.circle:after
{
	content: '\221A';
	content: '\22C1';
	font-size: 24px; color: #333;
	position: absolute; top: -14px; left: 0px;
	
	opacity: 0;
	transition: 0.2s;
} */

/* 비교함의 가게 이름 */
.comStoreNameDiv
{
	font-size: 8pt;
	padding-top: 0.5vw;
}

/* '비교하기' 버튼 */
#comBtn
{
	background-color: #EF6351;
	border: 1px #EF6351;
	border-radius: 8px;
	color: white;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
	cursor: pointer;
}


/*--------------------------------------------------------------------*/
/* footer 영역 */
/* import해서 주석처리
footer
{
	display: flex;
	justify-content: space-around;
	width: 97vw;
	height: 40vh;
	font-size: 0.8vw;
	color: #9b9b9b;
	background-color: #f9f9f9;
	padding-top: 25vh;
	padding-left: 3vw;
	margin-top: 5vh;
	
}

.ftNav
{
	padding-top: 5vh;
	padding-left: 4.5vw;
}

.ftStAdd
{
	padding-top: 5vh;
	padding-right: 4vw;
}

#fsa
{
	background-color: #EF6351;
	border: 1px #EF6351;
	border-radius: 8px;
	color: white;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
	cursor: pointer;
}
*/
