@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');

/* 전체 스크롤 없앰 */
body
{
	margin: 0px;
	font-family: 'IBM Plex Sans KR', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

/* body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
} */

/* 메인페이지 */
.middle {
	display: flex;
    width: 100%;
    padding: 0px;
    align-items: stretch;
    height: auto;
    min-height: 80%;
    padding-bottom: 15vh;
}

.right_content {
	width: 60%;
    margin-left: 20%;
}

.rv_reportlist, .penaltylist {
	display: flex;
	flex-direction: column;
	padding: 1vw;
	border: 0.3vw solid #F7F4EA;
	border-radius: 40px;
}
/* 부제 틀 */
.subtitle {
	display: flex;
	background-color: #F7F4EA;
	border-radius: 10px 10px 0 0;
	width: 100%;
	justify-content: space-around;
}
/* 부제 */
.rpt_subtitle, .pen_subtitle, .st_name, .pen_subtitle {
	text-align: center;
	width: 12vw;
	font-size: 1.2vw;
	padding: 1vh;
}

/* 신고 내용 틀 */
.report_content {
    display: flex;
    height: 4vw;
    justify-content: space-around;
    font-size: 1vw;
    align-items: center;
}

/* 신고 내용 */
.rpt_content {
	text-align: center;
	width: 8vw;
	padding: 1vh;
}

/* 제목 */
.title {
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.st_name {
	text-align: center;
	width: 12vw;
	padding: 1vh;;
}

.no-data-message {
	text-align: center;
}

.pageIndex {
	display: flex;
	justify-content: center;
}

.footer
{
   	height: 15vh;
    position: relative;
    transform: translateY(-100%);
}
