@charset "UTF-8";
/* 사용할 때 구문 : font-family: 'IBM Plex Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');

#body {
	width: 100%;
	display: flex;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

.mainBody {
	/* background-color: #F7F4EA;
 */	margin-left: 20vw;
	width: 60vw;
}

.main {
	padding-top: 2vh;
}

.container1 {
	float: left;
}

.main-left {
	width: 30vw;
    height: 45vh;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
}

#weekList
{
	display: flex;
	flex-direction: column;
	width: 24vw;
}

#opencloseholiday
{
	display:flex;
	flex-direction: column;
}

#opencloseholidayName
{
	display: flex;
	width: 24vw;
	justify-content: space-around;
	font-size: 13pt;
}

#opencloseholidayList
{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	width: 24vw;
	font-size: 10pt;
}

#breakTime
{
	display: flex;
	flex-direction: column;
}

.breakList
{
	display: flex;
	justify-content: center;
}

.ocName
{
	width: 24vw;
	margin-top: 20px;
}

.ochList
{
	display:flex;
}

.dayname, .time, .holiday
{
	width: 10vw;
}


.main-right {
	width: 50%;
	height: 40vh;
	float: right;
	text-align: center;
}

.opli, .btli {
	border: 2vw;
	width: 10vw;
	height: 3vh;
}

#weekList li, .time li {
	padding-bottom: 0.5vw;
	padding-right: 0.5vw;
	padding-left: 0.5vw;
	padding-top: 0.5vw;
	list-style: none;
	border-radius: 11px;
}

.revKeyList li {
	padding-bottom: 0.3vw;
	padding-top: 0.3vw;
	background-color: #F8E6E0;
	border: 1px solid #F781BE;
	margin: 0.5vw;
	border-radius: 11px;
	list-style: none;
}

.revKeyList input {
	background: none;
	border: 0;
	list-style: none;
}

.openclose {
	width: 50%;
	float: left;
}

.time {
	width: 50%;
	float: left;
	text-align: center;
}

.btli {
	text-align: center;
}

.container2 {
	margin-top: 20vh;
	margin-left: 4vw;
}

.info {
	width: 100%;
	height: 50%;
	display: flex;
	padding-right: 2vw;
	text-align: left;
	margin: 1vw;
}

.info input, textarea {
	width: 35vw;
	height: 4vh;
	background-color: #F8E6E0;
	border: 0;
}

.container3, .container4 {
	width: 100%;
	float: left;
	margin-top: 3vh;
}

.container3 {
	padding-left: 0.2vw;
}

.thumbnail {
	width: 10vw;
	height: 17vh;
	float: left;
}

.img-rounded {
	width: 100%;
	height: 100%;
}

.main ul {
	list-style-type: none;
}

.menu {
	display: flex;
	justify-content: space-evenly;
	padding-right: 5vw;
	padding-left: 5vw;
}

.form {
	padding-left: 3vw;
}

.revBoard {
	padding-left: 2vw;
}

.menuList {
	display: flex;
	margin-left: 3vw;
}

.menuPhoto {
	padding: 1vw;
}

.revBack {
	width: 90%;
	height: 14vh;
	background-color: #EED2CE;
	border-radius: 11px;
}

.btn {
	background-color: #F7AF97;
	border: 1px #EF6351;
	border-radius: 8px;
	color: white;
	font-size: 10pt;
	font-family: 'IBM Plex Sans KR', sans-serif;
	cursor: pointer;
}

#repCon {
	float: right;
}

.reViews {
	padding-bottom: 2vh;
}

.recBtn {
	float: right;
}

.has_sub_menu {
	list-style-type: none;
}

.side-menu {
	top: 50px;
	width: 5vw;
	z-index: 10;
	background: #ef6351;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	height: 90%;
	margin-top: 5.7vh;
	position: fixed;
	align-items: center;
}

#sidebar-menu li {
	font-size: 1.5rem;
}

#sidebar-menu .fas {
	padding-top: 3vh;
	padding-left: 1.2vw
}

.left_sub_menu {
	position: fixed;
	top: 50px;
	width: 18vw;
	z-index: 10;
	left: 4.6vw;
	background: white;
	height: 90%;
	margin-top: 5.7vh;
}

.sub_menu {
	margin-top: 50px;
}

.left_sub_menu>.sub_menu li:hover {
	color: ff5858;
	background-color: #e1e1e1;
}

.left_sub_menu>.sub_menu li {
	color: black;
	font-size: 17px;
	font-weight: 600;
	padding: 20px 0px 8px 14px;
	border-bottom: 1px solid #e1e1e1;
}

.sub_menu>h2 {
	padding-bottom: 4px;
	border-bottom: 3px solid #797979;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 600;
	color: #333;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'NotoKrB';
}

.fas {
	color: #ff5858;
	font-size: 20px;
	line-height: 20px;
	float: right;
	margin-top: 0.6vh;
	margin-right: 2vw;
}

.sub_menu>.big_menu>.small_menu li {
	color: black;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 0px solid #e1e1e1;
}

.big_menu {
	list-style-type: none;
	cursor: pointer;
}

.samll_menu {
	position: fixed;
	list-style-type: none;
	padding-inline-start: 0px;
	list-style: none;
	transition-duration: 0.5s;
}

.small_menuA {
	color: black;
	text-decoration-line: none;
	background-color: transparent;
	margin-bottom: 1vh
}

.big_menu ul {
	margin-top: 0;
	margin-bottom: 0;
}

.has_sub {
	width: 100%;
}