@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');

body
{
	font-family: 'IBM Plex Sans KR', sans-serif;
	margin: 0;
}

#headerImg
{
	margin-left: 20vw;
}

#headerLogo
{
	max-width: 10vw;
    max-height: 15vw;
}

#infoContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20vh;
}

#searchTitleDiv
{
    margin-top: 10vh;
    width: 50vw;
    display: flex;
    align-items: center;
}

#searchTitle
{
	font-size: 25pt;
	font-weight: bold;
}

.accept
{
	font-size: 8pt;
	color: #ef6351;
	display: none;
}

.modifyBtn
{
	margin-left: 1vw;
	width: 8vw;
	height: 25px;
	border-radius: 5px;
	font-size: 0.6vw;
	border: 1px solid #ef6351;
	background-color: white;
  	color: #ef6351;
  	cursor: pointer;
  	align-content: center;
  	margin-left: 1vw;
}

.modifyBtn:hover
{
	margin-left: 1vw;
	width: 8vw;
	height: 25px;
	border-radius: 5px;
	font-size: 0.6vw;
	border: 1px solid #ef6351;
	background-color: white;
  	color: #ef6351;
  	cursor: pointer;
  	align-content: center;
  	margin-left: 1vw;
  	box-shadow: 0 0 5px #ef6351;
}

.modifyBtn:active
{
	margin-left: 1vw;
	width: 8vw;
	height: 25px;
	border-radius: 5px;
	font-size: 0.6vw;
	border: 1px solid #ef6351;
	background-color: #f9ab9f;
  	color: #ef6351;
  	cursor: pointer;
  	align-content: center;
  	margin-left: 1vw;
  	box-shadow: 0 0 5px #ef6351;
}


input[type=text], input[type=password]
{
	height: 22px;
	border: 1px solid #dfdfdf;
  	border-radius:5px;
  	text-align: center;
/*   	margin-bottom: 1vw; */
}

input:focus
{
	height: 25px;
	outline: none; 
	border-color: #ef6351; 
	box-shadow: 0 0 5px #ef6351;
  	text-align: center;
}

/* 아이디 영역 */
#idSearchTitle
{
	font-size: 15pt;
	font-weight: bold;
}

.idSearchTitleDiv
{
	width: 50vw;
	padding-left: 1vw;
	background-color: #f7f4ea;
}

.idSearchListDiv
{
	display: flex;
	flex-direction: column;
	height: 22vh;
	justify-content: space-around;
}

#idSearchDiv
{
	display: flex;
    margin: 5vh 0 5vh 0;
    width: 45vw;
    height: 25vh;
    padding-left: 15vw;
    align-items: center;
}

.userName
{
	margin-bottom: 5vh;
}

#idSearchBtn
{
	margin: 0 0 5vh 0;
}

.require
{
	color: red;
}

#idSearchReturn
{
	height: 10vh;
}

/* 비밀번호 영역 */
#pwSearchTitle
{
	font-size: 15pt;
	font-weight: bold;	
}

.pwSearchTitleDiv
{
	width: 50vw;
	padding-left: 1vw;
	background-color: #f7f4ea;
}

#pwSearchDiv
{
	display: flex;
	margin: 5vh 0 5vh 0;
	width: 45vw;
	padding-left: 15vw;
}

.pwSearchInsertDiv, .idSearchInsertDiv
{
	display: flex;
	flex-direction: column;
}

.pwSearchInsertDiv
{
    display: flex;
    flex-direction: column;
    height: 27vh;
    margin-top: 2vh;
    justify-content: space-between;
}

.idSearchListDiv
{
	width: 10vw;
	display: flex;
    flex-direction: column;
    height: 22vh;
    justify-content: space-around;
}

.pwSeachListDiv
{
	width: 10vw;
    display: flex;
    flex-direction: column;
    height: 31vh;
    justify-content: space-around;
}