@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');

body {
	width: 97vw;
	font-family: 'IBM Plex Sans KR', sans-serif;
	margin: 0;
}

/* 0730 수정
* {
	margin: 0px;
	padding: 0px;
} */

/* 전체 틀 */
.container {
	width: 100%;
	align-items: stretch;
	padding: 0px;
}

.middle {
	width: 97vw;
	display: flex;
}

.jjimlist {
	/* background-color: #f7f4ea; */
}

.jimlist {
	display: flex;
	justify-content: center;
}

.jimstore
{
	width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    border: 1.5px solid #f7f4ea;
    justify-content: space-around;
}

.jimstoreImg
{
	width: 9vw;
    height: 8vw;
}

.jimstImg
{
	max-width: 9vw;
    max-height: 9vw;
    width: 9vw;
    height: 9vw;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}

.jimstoreName
{
	padding-top: 0.5vw;
}


/* .card {
	width: 8vw;
	background-color: #f7f4ea;
	border: 1px solid #E09A8D;
	margin: 1vw;
	padding: 1vh;
	background-color: #EF6851;
}

.card1 {
	width: 4vw;
	background-color: white;
	border: 1px solid #E09A8D;
	margin: 0.3vw;
	padding: 0.5vh;
	background-color: #EF6851;
	justify-content: center;
} 

.card-img-top {
	border: 1px solid #E09A8D;
	width: 100%;
}*/

.col-md-8 {
	/* width: 69vw; */
	width: 64vw;
    padding: 5vh 0 0 0;
    margin-left: 6vw;
}

.col-md-2 {
	width: 14vw;
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	/* padding-top: 1.5vh; */
	font-size: 20px;
	/* align-items: center; */
	
}


.see1 {
	display: flex;
	flex-direction: column;
	width: 80%;
	/* height: 90%; */
	justify-content: center;
	/* overflow: overlay; */
	text-align: center;
	align-items: center
}

.stalist {
	/* background-color: #f7f4ea; */
	/* padding: 1vw; */
	display: flex;
	flex-direction: column;
	margin-bottom: 8vh;
}

.dao {
	right: 5vw;
}

.list1 {
	/* background-color: white; */
	/* border: 1px solid #E6E6E6; */
	width: 10vw;
	/* height: 3vh;
	align-items: center; */
	padding: 1vh;
	text-align: center;
}

.list0 {
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	align-item: center;
	border: 1px solid #E6E6E6;
	/* height: 3vh; */
}
#list0
{
	background-color: #f7f4ea;
}

#list1 {
	/* background-color: #f7f4ea; */
	display: flex;
}

.id {
	display: flex;
	/* flex-direction: column; */
	background-color: #f7f4ea;
	
	margin-bottom: 15vh;
	
}

.id1 {
	border: 1px solid #E6E6E6;
	flex-grow: 1;
	padding: 1vh;
	align-items: center;
	background-color: white;
	/* background-color: #FFFDE7; */
	
}
.title9
{
	font-size: 15pt;
    font-weight: bold;
    background-color: #f7f4ea;
    text-align: center;
}
.sub9
{
	font-size: 15pt;
    text-align: center;
}


.side {
	color: black;
	border: 1px solid #A4A4A4;
	background-color: #E6E6E6;
	height: 3vh;
}

.side:hover {
	background-color: gray;
	color: white;
}

/* .card-text {
	text-align: center;
}
 */
.ado {
	display: flex;
	align-items: center;
}

/* #ado
{
	padding-right: 1vw;
	
} */
/* .adoi
{
	align-items: center;
} */

.ta {
	/* margin-top:1vh; */
	display: flex;
	justify-content: space-between;
	padding-left: 1vw;
	padding-right: 1vw;
}

.title {
	font-weight: bold;
    font-size: 13pt;
    width: 15vw;
}

/* .title2 {
	font-size: 30px;
} */

.left-btn {
	display: flex;
	flex-direction: column;
	margin-top: 5.6vh;
}
.mypage
{
	font-size: 25pt;
    font-weight: bold;
    margin-top: 3vh;
    margin-bottom: 7vh;
}

/* (0730)추가 */
footer {
    display: flex;
    width: 94.9vw;
    height: 15vh;
    font-size: 0.8vw;
    color: #9b9b9b;
    background-color: #f9f9f9;
    padding-top: 20vh;
    padding-left: 4vw;
    margin-top: 5vh;
    justify-content: space-around;
    align-items: flex-start;
}